<h2 mat-dialog-title>Edit User</h2>
<div mat-dialog-content>
  <form [formGroup]="editUserForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" placeholder="Name">
    </mat-form-field>
    
    <mat-form-field appearance="fill">
      <mat-label>Age</mat-label>
      <input matInput formControlName="age" placeholder="Age">
    </mat-form-field>
    
    <mat-form-field appearance="fill">
      <mat-label>Phone</mat-label>
      <input matInput formControlName="phone" placeholder="Phone">
    </mat-form-field>
    
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" placeholder="Email">
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-button color="primary" (click)="onSubmit()">Save</button>
</div>
